{% extends "base.html" %}
{% block content %}
  <p>
  <form>
    <label>Hae juoman nimellä tai ainesosalla</label>
    <input type="text class="form-control">
  </form>
  </p>

  <p>
    <button class="btn btn-default">Lisää uusi resepti</button>
  </p>

  <p>
  <h3>Uusimmat reseptit</h3>
  <p>
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <td>Juoma</td>
      <td>Lisääjä</td>
      <td>Lisäyspäivä</td> 
    </tr>
    </thead>

    <tbody>      
      <tr>
        <td><a href="#">Gin Tonic</a</a></td>
        <td>Jussi</td> 
        <td>31.7.2017</td>       
      </tr>
      
    </tbody>
  </table> 
  <p>
  </p>
{% endblock %}