{% extends "base.html" %}
{% block content %}
  <h1>Gin Tonic</h1>
  
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>  
  
  <ul>
    <li><strong>Lasi:</strong>High ball</li>
    <li><strong>Valmistustapa:</strong>rakennetaan</li>   
    <li><strong>Lisääjä:</strong>Jussi</li>   
    <li><strong>Lisäyspäivä:</strong>31.7.2017</li>  
  </ul>
  
  <p>
  <table class="table table-hover table-bordered">
    <thead>      
    </thead>

    <tbody>      
      <tr>
        <td style="width:50px">4 cl</td>
        <td style="width:200px">gin</td>        
      </tr>
      <tr>
        <td>12 cl</td>
        <td>tonic</td>        
      </tr>
      <tr>
        <td>0,45</td>
        <td>lime</td>        
      </tr>
    </tbody>
  </table>
  <p>
    Täytä lasi puolilleen jäitä, lisää gini ja pidennä tonic-vedellä. Purista joukkoon muutaman limeviipaleen mehut ja pudota viipaleet lasiin koristeeksi.
  </p>
{% endblock %}