{% extends "base.html" %}
{% block content %}   
 
 <p>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <td>Nimi</td>      
      <td>Käyttäjätaso</td>
      <td>Aktiivinen</td>
      <td></td> 
    </tr>      
    </thead>

    <tbody>      
      <tr>
        <td>{{user.name|e}}</td>
        <td>{{user.role|e}}</td>
        <td>
          {% if user.active %}
            x          
          {% endif %}
        </td>

        <td>0</td>
        <td>
          <button method="post" action="{{base_path}}/kayttaja/{{}}   class="btn btn-default">Muokkaa</button>       
          <button method="post" class="btn btn-default">Poista</button>       
      </tr>
      
    </tbody>
  </table>
 

{% endblock %}