{% extends "base.html" %}
{% block content %}
<div>
  {{message}}
</div>

  <h1>{{recipe.name|e}}</h1>
  
  <p>

    <form method="post" action="{{base_path}}/resepti/{{recipe.id}}/poista">
      <button type="submit" class="btn btn-danger">Poista</button>
    </form>

    <form method="get" action="{{base_path}}/resepti/{{recipe.id}}/muokkaa">
      <button type="submit" class="btn btn-info">Muokkaa</button>
    </form>
  </p>  
  
  <ul>
    <li><strong>Lasi:  </strong>{{recipe.glass|e}}</li>
    <li><strong>Valmistustapa:  </strong>{{recipe.method|e}}</li>   
    <li><strong>Lisääjä:  </strong>{{author.name|e}}</li>   
    <li><strong>Lisäyspäivä:  </strong>{{recipe.timeAdded|e}}</li>  
  </ul>
  
  <p>
  <table class="table table-hover table-bordered">
    <thead>      
    </thead>

    <tbody>      
      <tr>
        <td style="width:50px">4 cl</td>
        <td style="width:200px">gin (TÄMÄ AINESOSIEN NÄYTTÄMINENHÄN EI MUUTEN OIKEASTI TOIMI VIELÄ)</td>        
      </tr>
      <tr>
        <td>12 cl</td>
        <td>tonic</td>        
      </tr>
      <tr>
        <td>0,45</td>
        <td>lime</td>        
      </tr>
    </tbody>
  </table>
  <p>
    {{recipe.instructions|e}}
  </p>
{% endblock %}